@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    
</div>

@if (User.IsInRole("Admin"))
{
    <a asp-controller="GiderFis" asp-action="Create" class="btn btn-success">
        Yeni Gider Fişi Ekle
    </a>

    <a asp-controller="GiderFis" asp-action="Index" class="btn btn-primary">
        Tüm Giderleri Gör (Admin)
    </a>
}
@if (User.IsInRole("User"))
{
    <a asp-controller="Rapor" asp-action="Index" class="btn btn-primary">
        Raporları Görüntüle
    </a>
}



