@{
    ViewData["Title"] = "Home Page";
}

<div class="home-header text-center">
    <h1 class="animated-title">GİDER TAKİP SİSTEMİ</h1>
</div>

<div class="text-center mt-5">
    <h2 class="welcome-text">Hoşgeldiniz</h2>

    @if (User.IsInRole("Admin"))
    {
        <div class="d-flex justify-content-center gap-3">
            <a asp-controller="GiderFis" asp-action="Create" class="btn btn-success btn-lg shadow-sm">
                Yeni Gider Fişi Ekle
            </a>
            <a asp-controller="GiderFis" asp-action="Index" class="btn btn-primary btn-lg shadow-sm">
                Tüm Giderleri Gör
            </a>
        </div>
    }
    @if (User.IsInRole("User"))
    {
        <div class="d-flex justify-content-center">
            <a asp-controller="Rapor" asp-action="Index" class="btn btn-info btn-lg shadow-sm">
                Raporları Görüntüle
            </a>
        </div>
    }
</div>

<style>
    .btn-success{
        background: linear-gradient(135deg, #4e73df, #224abe);
        border: none;
        margin-top: 40px;
        
    }

    .btn-primary{
        background: linear-gradient(135deg, #4e73df, #224abe);
        border: none;
        margin-top: 40px;
    }

    .btn-info{
        background: linear-gradient(135deg, #4e73df, #224abe);
        border: none;
        margin-top: 40px;
    }

</style>
