@model GiderTakipSistemi.Models.GiderKalem

@{
    ViewData["Title"] = "Delete";
}



<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KalemAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KalemAdi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <div><a asp-action="Index">Listeye dön.</a></div>
        
    </form>
</div>

<style>
    body {
        background: #f5f7fa;
        font-family: 'Poppins', sans-serif;
        color: #333;
    }
</style>