@model GiderTakipSistemi.Models.GiderFis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>GiderFis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GiderKalemId" class="control-label"></label>
                <select asp-for="GiderKalemId" class="form-control" asp-items="ViewBag.KalemList"></select>
                <span asp-validation-for="GiderKalemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CariKayitId" class="control-label"></label>
                <select asp-for="CariKayitId" class="form-control" asp-items="ViewBag.CariList"></select>
                <span asp-validation-for="CariKayitId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutar" class="control-label"></label>
                <input asp-for="Tutar" class="form-control" />
                <span asp-validation-for="Tutar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tarih" class="control-label"></label>
                <input asp-for="Tarih" class="form-control" />
                <span asp-validation-for="Tarih" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserList"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
